.lightbox {
	cursor: zoom-in;
}
	
.lightbox_container {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	padding: 2.0rem;
	background-color: black;
	z-index: 1000;
	cursor: pointer;
	opacity: 0;
	box-sizing: border-box; 
	display: none;
}

.lightbox_content {
	opacity: 0;
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: contain; 
	width: 100%;
	height: 100%;
	position: relative;
}

.lightbox_text {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 1.0rem;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 1.0rem;
	z-index: 10;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.lightbox_close {
	position: absolute; 
	top: 2.0rem; 
	right: 2.0rem; 
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center; 
	width: 2.0rem; 
	height: 2.0rem; 
	opacity: 0.5;
	transition: opacity 0.3s;
	z-index: 30;
	&:hover {
		opacity: 1;
	}
}

.lightbox_previous {
	
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 20%;
	height: 100%;
	background-size: 1.0rem auto;
	background-repeat: no-repeat;
	background-position: 3.0rem center;
	opacity: 0.5;
	transition: opacity 0.5s;

	&:hover {
		opacity: 1;
	}
	
}

.lightbox_next {
	
	position: absolute;
	right: 0;
	top: 0;
	z-index: 20;
	width: 20%;
	height: 100%;
	background-size: 1.0rem auto;
	background-repeat: no-repeat;
	background-position: right 3.0rem center;
	opacity: 0.5;
	transition: opacity 0.5s;

	&:hover {
		opacity: 1;
	}
	
}
