.onetrust_container {
	padding: 1.0rem 0;
	font-size: 0.9rem;
	
	#ot-sdk-btn.ot-sdk-show-settings, #ot-sdk-btn.optanon-show-settings {
		color: inherit;
		border-color: inherit;
		background-color: inherit;
		font-size: inherit;
		font-family: inherit;
	}

}

.onetrust_link {
	padding-left: 2.0rem;
}

