/robots.txt
.DS_Store
/.settings/
/.buildpath
/.project
/cache/*
!/cache/.gitkeep
!/cache/index.html

_db/*
!_db/cms.sql

.svn

_feed

/img/*
!/img/.gitkeep
!/img/index.html

/config/*
!/config/.gitkeep
