.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

cache/*
!cache/index.html

_db/*
!_db/cms.sql

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

.svn
.settings
.buildpath
.project

_feed
_install

/img/*
!/img/2015/11/*
/img/2015/11/_*

/config/*
!/config/bccms.dev.php
