/robots.txt
.DS_Store

/cache/*
!/cache/.gitkeep
!/cache/index.html
!/system/libraries/Cache/

_db/*
!_db/cms.sql

.svn
.settings
.buildpath
.project

_feed

/img/*
!/img/.gitkeep
!/img/index.html

/config/*
!/config/.gitkeep
!/config/bccms.dev.php
