DirectoryIndex index.php
Options -Indexes

AddType application/vnd.ms-fontobject    .eot
AddType application/x-font-opentype      .otf
AddType image/svg+xml                    .svg
AddType application/x-font-ttf           .ttf
AddType application/font-woff            .woff

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType image/ico "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType application/x-javascript "access 1 month"
ExpiresByType text/javascript "access 1 month"
ExpiresByType application/javascript "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresByType application/font-woff "access 1 month"
ExpiresByType application/x-font-opentype "access 1 month"
ExpiresByType application/vnd.ms-fontobject "access 1 month"
ExpiresDefault "access 1 day"
</IfModule>

RewriteEngine on

RewriteCond %{REQUEST_URI} ^/cache [NC]
RewriteCond %{REQUEST_URI} ^/_ [NC]
RewriteCond %{REQUEST_URI} !\.(css|js|xml)$ [NC]
RewriteRule .* - [F,L]

# Everything, what is not set domain goes to set domain
RewriteCond %{HTTP_HOST} !^(.*)\.localhost
RewriteCond %{HTTP_HOST} !^stg\.
RewriteCond %{HTTP_HOST} !^cms\.bytecrackers\.com
RewriteRule ^(.*)$ http://cms.bytecrackers.com%{REQUEST_URI} [R=302,L]

# Redirect from .co.uk to .com
RewriteCond %{HTTP_HOST} ^(.*)\.co\.uk
RewriteRule ^(.*)\.co\.uk(.*)$ http://$1.com%{REQUEST_URI} [R=302,L]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond $1 !^(index\.php|modules|img|css|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php?/$1 [L,QSA]
