.feed_list_container {
	
	margin-left: -3px;
	margin-right: -3px;
	font-size: 0px;
	
	.cms_list_set {
		background-color: white;
	}
	
	.cms_list_item_link {
		background-color: white;
	}
		
	.admin_list_sortable > li {
		width: 32.7%;
		display: inline-block;
		height: 130px;
		padding: 2px 5px 2px 5px;
		margin: 0px 3px 6px 3px;
		position: relative;
	}
	
	.cms_list_item_link {
		height: 22px;
		border: 1px solid #c0c0c0;
		text-decoration: none;
		box-sizing: border-box;
		line-height: 19px;
		border-radius: 3px;
		font-size: 16px;
		padding: 1px 6px 0px 6px;
		position: absolute;
		top: 3px;
		right: 5px;
	}
	
	.cms_list_set {
		position: absolute;
		top: 3px;
		right: 37px;
		padding-left: 6px;
		padding-right: 6px;
	}
	
	.cms_list_icon {
		position: absolute;
		top: 3px;
		left: 23px;
		background-size: 17px auto;
	}

}

.feed_list_container .cms_page_panel_show, .feed_list_container .cms_page_panel_copy, .feed_list_container a.cms_list_item_button {
	display: none !important;
}

.feed_list_container .cms_input_page_panel_hidden {
	opacity: 1;
}

.feed_dashboard_item_title {
	position: absolute;
	top: 3px;
	left: 45px;
	font-size: 12px;
	width: 161px;
	height: 24px;
	overflow: hidden;
}

.feed_dashboard_item_image_container {
	position: absolute;
	bottom: 3px;
	height: 95px;
	width: 95px;
	border: 1px solid #a0a0a0;
	background-position: center;
}

.feed_dashboard_item_image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

div.feed_dashboard_item_content {
	position: absolute;
	overflow: hidden;
	left: 109px;
	top: 28px;
	max-height: 97px;
	width: 193px;
	border-top: 1px solid #b0b0b0;
	box-sizing: border-box;
	padding-top: 2px;
}

div.feed_dashboard_item_heading {
	font-size: 15px;
	line-height: 17px;
	font-weight: bold;
	max-height: 34px;
	overflow: hidden;
}

div.feed_dashboard_item_text {
	font-size: 14px;
	line-height: 16px;
}

div.feed_dashboard_item_text b {
	font-weight: bold;
}
