.text_container {

	max-width: 700px;
	margin: 50px auto;
	line-height: 1.4em;
	padding: 0 50px;
	box-sizing: border-box;

	h1 {
		font-size: 20px;
		font-weight: bold;
	}
	
	h2 {
		font-size: 18px;
	}

}
