
.form_basic_input_file_area {
	
}

.form_basic_input_file {
	
}

.form_basic_input_file_area_label {
	
}

.form_basic_input_error {
	display: none;
}

.form_basic_message {
	display: block;
	position: absolute;
	height: 0;
	overflow: hidden;
	width: 100%;
	opacity: 0.1;
	top: 0;
	left: 0;
	z-index: 100;
	transition: opacity 0.3s;
	background-color: rgba(255, 255, 255, 0.5);
	&.form_basic_message_active {
		height: 100%;
		opacity: 0.9;
	}
}

.form_basic_message_text {
	display: none;
	padding: 20px 0;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.form_basic_message_sending {
	display: none;
	padding: 20px 0;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.form_basic_message_status_sending {
	
	.form_basic_message_sending {
		display: block;
	}
	
}

.form_basic_message_status_active {

	.form_basic_message_text {
		display: block;
	}
	
}
