
.form_message {
	display: block;
	position: absolute;
	height: 0;
	overflow: hidden;
	width: 100%;
	opacity: 0.1;
	top: 0px;
	left: 0px;
	z-index: 100;
	transition: opacity 0.3s;
	background-color: rgba(255, 255, 255, 0.5);
}

.form_message_active {
	height: 100%;
	opacity: 0.8;
	background-color: rgba(255, 255, 255, 0.5);
}

.form_message_table {
	display: table;
	height: 100%;
	width: 100%;
}

.form_message_cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 21px;
}

.form_message_text {
	display: none;
	padding: 20px 0;
	box-sizing: border-box;
}

.form_message_sending {
	display: none;
	padding: 20px 0;
	box-sizing: border-box;
}

.form_message_status_sending {
	
	.form_message_sending {
		display: block;
	}
	
}

.form_message_status_active {

	.form_message_text {
		display: block;
	}
	
}
