.downloads_container {
	background-color: $morden_text;
}

.downloads_content {
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
	text-align: left;
}

.downloads_download {
	display: inline-block;
	width: 33.33%;
	padding-bottom: 30.0%;
	height: 0;
	text-transform: uppercase;
	vertical-align: top;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: bureau;
	color: $morden_green;
	&:nth-child(6n+2) {
		background-color: $colour_white;
		color: $morden_text;
	}
	&:nth-child(6n+4) {
		background-color: $morden_text;
		.downloads_cta {
			background-color: $morden_green;
			color: $morden_text;
		}
	}
	&:nth-child(6n) {
		background-color: $morden_green;
		color: $morden_text;
	}
}

.downloads_download_inner {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.downloads_download_heading {
	padding: 3.2rem 2.3rem;
	font-size: 5.3rem;
	line-height: 4.5rem;
	max-height: 18.0rem;
	overflow: hidden;
}

.downloads_cta {
	position: absolute;
	left: 2.3rem;
	bottom: 4.0rem;
	border-radius: 0.3rem;
	background-color: $morden_text;
	font-size: 3.0rem;
	line-height: 3.8rem;
	padding: 0 1.2rem;
	color: $morden_green;
}



@media only screen and (max-width: $mobile_width) {

	.downloads_download {
		width: 100%;
		padding-bottom: 50%;
	}

	.downloads_download_heading {
		font-size: 4.2rem;
		line-height: 3.7rem;
	}

}
