.downloads_container {
	background-color: $colour_white;
}

.downloads_content {
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
	text-align: left;
}

.downloads_download {
	display: inline-block;
	width: 33.33%;
	height: 33.3rem;
	text-transform: uppercase;
	vertical-align: top;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: right;
	color: $colour_black;
	text-align: center;
	&.downloads_download_image {
		color: $colour_white;
	}
}

.downloads_download_heading {
	padding: 9.0rem 1.0rem 0 1.0rem;
	font-size: 2.7rem;
	line-height: 2.3rem;
}

.downloads_cta {
	position: absolute;
	left: 50%;
	bottom: 7.0rem;
	font-size: 1.5rem;
	line-height: 3.2rem;
	padding: 0 1.8rem;
	color: $colour_black;
	border: 0.2rem solid $colour_black;
	transform: translate(-50%, 0);
	.downloads_download_image & {
		color: $colour_white;
		border-color: $colour_white;
	}
}



@media only screen and (max-width: $mobile_width) {
	
	.downloads_container {
		width: 50.0rem;
		overflow: hidden;
	}

	.downloads_download {
		width: 100%;
		height: 37.0rem;
	}

	.downloads_download_heading {
		font-size: 4.2rem;
		line-height: 3.7rem;
	}

}
