.language_container {
	position: absolute;
	top: 0;
	width: 96%;
	height: 0;
	max-width: 96rem;
	left: calc(50% - 48rem);
	z-index: 1000;
	text-align: right;
}

.language_content {
	line-height: 1.5rem;
	font-size: 1.2rem;
	display: inline-block;
	color: $colour_black;
	background-color: $colour_white;
	cursor: pointer;
}

.language_label {
	display: inline-block;
	vertical-align: top;
	padding: 0.2rem 0 0.2rem 0.5rem;
}

.language_button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0.2rem 2.4rem 0.2rem 0.5rem;
	box-sizing: border-box;
	max-width: 12.0rem;
	text-align: left;

	&::after,
	&::before {
		content: '';
		display: block;
		width: 0.6rem;
		height: 0.16rem;
		background-color: $colour_black;
		position: absolute;
		right: 0.8rem;
		top: 1.0rem;
		transform: translate(0, -50%) rotate(-45deg);
	}

	&::before {
		transform: translate(0, -50%) rotate(45deg);
		right: 1.2rem;
	}
}

.language_button_label {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.language_languages {

	position: absolute;
	right: 0;
	left: 0;
	top: 100%;
	margin-top: 0.1rem;
	padding: 0.2rem 0.5rem;
	background-color: $colour_white;
	opacity: 0;
	height: 0;
	overflow: hidden;
	box-sizing: border-box;
	
	.language_button:hover & {
		height: auto;
		opacity: 1;
	}

}

.language_language {
	text-align: left;
	padding: 0.2rem 0;
	white-space: nowrap;

	&:hover {
		color: $colour_red;
	}

}