.menu_container {
	padding: 0 3.0rem;
	text-align: center;
	color: $colour_black;
	font-family: chap;
	text-transform: uppercase;
	position: relative;
	height: $menu_height;
	border-top: 0.1rem solid $colour_grey;
}

.menu_content {
	height: $menu_height;
	width: 100%;
	line-height: 0;
	font-size: 0;
	text-align: center;
	background-color: $colour_white;
}

.menu_item {
	display: inline-block;
	line-height: $menu_height;
	vertical-align: middle;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    padding: 0 2.5rem;
    cursor: pointer;
}

.menu_left,.menu_right {
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
    font-weight: 500;
    padding: 0;
	opacity: 0;
	transition: opacity 0.5s;
}

.menu_left {
	left: 7.5rem;
}

.menu_right {
	right: 7.5rem;
}

.menu_fixed {

	.menu_content {
		position: fixed;
		top: 0;
    	left: 0;
    	z-index: 1000;
    	border-bottom: 0.1rem solid $colour_light_background;
	}

	.menu_left,.menu_right {
		opacity: 1;
	}

}

@media only screen and (max-width: 102.4rem) {
	
	.menu_item {
	
		font-size: 1.4rem;
    	letter-spacing: 0.2rem;
    	padding: 0 2.0rem;

		&.menu_left, &.menu_right {
			display: inline-block;
			position: relative;
			height: auto;
			font-weight: normal;
			left: 0;
			right: 0;
		}
	
	}
	
}

@media only screen and (max-width: $mobile_width) {
	
	.menu_item {
		
		&.menu_item_mobile_hidden {
			display: none;
		}
		
		&.menu_left, &.menu_right {
			opacity: 1;
		}
				
	}
	
}
