.mimage_container {
	width: 100%;
	position: relative;
	z-index: 10;
	overflow: hidden;
}

.mimage_content {
	max-width: 100.0rem;
	margin: 0 auto;
}

.mimage_image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.mimage_link {
	display: block;
	position: absolute;
	z-index: 20;
}