.mimage_container {
	width: 100vw;
	position: relative;
	z-index: 10;
	overflow: hidden;
}

.mimage_content {
	max-width: 100.0rem;
	margin: 0 auto;
}

.mimage_image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.mimage_link {
	display: block;
	position: absolute;
	z-index: 20;
}

.mimage_responsiveness_all {
	
}

.mimage_responsiveness_mobile {
	display: none;
}

.mimage_responsiveness_desktop {
	
}

@media screen and (max-width: 900px) {

	.mimage_responsiveness_mobile {
		display: block;
	}
	
	.mimage_responsiveness_desktop {
		display: none;
	}

}
