.basic_pageshare_container {
	
}

.basic_pageshare_content {
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
}

.basic_pageshare_icon {
	display: inline-block;
	height: 2.0rem;
	width: 2.0rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: top;
	cursor: pointer;
}

.basic_pageshare_text {
	font-size: 1.0rem;
	line-height: 1.0rem;
}
