.cms_search_result {
	display: table;
	table-layou: fixed;
	width: 100%;
}

.cms_search_result_pages {
	display: table-cell;
	vertical-align: top;
}

.cms_search_result_panels {
	display: table-cell;
	vertical-align: top;
}
