.cms_help {
	
	height: 1.6rem;
	width: 1.6rem;
	position: absolute;
	left: 10.7rem;
	top: 0;
	box-sizing: border-box;
	background-color: white;
	border-radius: 0.8rem;
	z-index: 100;

	.cms_page_panel_container & {
		left: 12.7rem;
	}

	.cms_repeater_block & {
		left: 10.7rem;
	}

	.cms_input_textarea & {
		left: auto;
		right: 0;
		.cms_page_panel_container & {
			right: 0.7rem;
		}
	}

	.admin_block_label & {
		left: auto;
		right: 0;
		top: 0.2rem;
	}

}

.cms_help_icon {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-size: 1.2rem auto;
	background-repeat: no-repeat;
	background-position: center;
}

.cms_help_text {
	display: none;
	position: fixed;
	left: 0;
	width: 30.0rem;
	overflow: hidden;
	background-color: white;
	padding: 1.2rem;
	border: 0.1rem solid $cms_border;
	box-sizing: border-box;
	font-size: 1.5rem;
    line-height: 1.9rem;
    letter-spacing: 0.03rem;
    z-index: 1000;
}
