.cms_language_select_content.cms_toolbar_buttons_hidden {
	width: auto;
}

.cms_language_select_container .cms_language_select_current {
	padding: 0 2.4rem 0 1.0rem;
	position: relative;
	z-index: 20;
	text-transform: none;
}
