.cms_popup_export .cms_popup_content {
	height: 41.0rem;
	width: 50.0rem;
}

.cms_popup_export .cms_popup_area {
	font-size: 2.0rem;
    line-height: 3.0rem;
    margin-bottom: 1.8rem;
    margin-top: 20.5rem;
}
