.cms_image_container {
	z-index: 20100;
	box-sizing: border-box;
	border: 0.1rem solid #a0a0a0;
	padding: 1.4rem;
	width: 67.0rem;
	height: 68.5rem;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	position: fixed;
	background-color: white;	
}

.cms_image_overlay {
	z-index: 20095;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	left: 0;
	top: 0;
}

.cms_image_container .cms_toolbar {
	margin-bottom: 1.0rem;
	padding-bottom: 0.5rem;
}

.cms_image_filename {
	max-width: 45.0rem;
	overflow: hidden;
	font-size: 1.8rem;
}

.cms_image_area {
	width: calc(100% - 2.0rem);
    position: relative;
    left: 1.0rem;
	height: 48.0rem;
	line-height: 48.0rem;
	font-size: 0;
	letter-spacing: 0;
	box-sizing: border-box;
	border: 0.1rem solid $cms_border;
	display: inline-block;
	background-size: 4.0rem auto;
	background-position: center;
	text-align: center;
}

.cms_image_cell {
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
}

.cms_image_image {
	max-width: 61.8rem;
	max-height: 47.8rem;
}

.cms_image_left {
	width: 31.0rem;
	position: absolute;
	bottom: 1.0rem;
	left: 1.4rem;
}

.cms_image_right {
	width: 31.0rem;
	position: absolute;
	bottom: 1.5rem;
	right: 2.4rem;
}

.cms_image_input {
	
	margin: 0.1rem 0 0.5rem 0;
	padding-top: 0.6rem;
	width: 100%;
	position: relative;

	label {
		width: 8.0rem;
		height: 2.6rem;
		line-height: 2.6rem;
		padding-top: 0.5rem;
		font-size: 1.6rem;
	}

	input {
		box-sizing: border-box;
		margin: 0;
		border: 0.1rem solid $cms_border;
		height: 2.6rem;
		padding: 0 0.3rem;
		line-height: 2.4rem;
		font-size: 1.5rem;
		width: 22.0rem;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	textarea {
		height: 5.2rem;
		width: 100%;
		padding: 0.3rem;
		line-height: 1.5rem;
		font-size: 1.5rem;
		box-sizing: border-box;
		margin-bottom: 0;
		margin-top: 0.5rem;
		vertical-align: top;
	}

}

.cms_image_description_input {
	margin: 0 0 0.5rem 0;
	padding: 0.5rem 1.0rem 0 1.0rem;
	width: 100%;
}

.cms_image_category {
	box-sizing: border-box;
	margin: 0;
	border: 0.1rem solid $cms_border;
	height: 2.6rem;
	padding: 0 0.3rem;
	line-height: 2.6rem;
	width: 22.0rem;
	line-height: 2.4rem;
	font-size: 1.5rem;
	position: absolute;
	right: 0;
	bottom: 0;
}

.cms_image_stats {
	line-height: 2.6rem;
    font-size: 1.6rem;
    padding-left: 1.0rem;
}