.cms_input_image {

	&>.cms_input_button {
		width: 120px;
		float: left;
		margin-bottom: 7px;
	}

	.cms_input_image_container {
		box-sizing: border-box;
		display: inline-block;
		border: 1px solid #a0a0a0;
		width: 330px;
		height: 248px;
		float: right;
		background-position: center;
		background-size: 40px auto;
		img {
			max-width: 328px;
			max-height: 246px;
		}
	}

	.admin_image_content {
		box-sizing: border-box;
		display: table-cell;
		width: 328px;
		height: 246px;
		text-align: center;
		vertical-align: middle;
		line-height: 0px;
	}
	
	.admin_image_content {
		position: relative;
	}
	
	.cms_input_image_error {
		line-height: 20px;
		color: red;
		padding: 20px;
		font-weight: 400;
	}
	
	.cms_input_image_image {
		
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0 auto;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 10;
		filter: grayscale(0%);
		transition: filter 0.5s;
	
		&.cms_images_lazy_waiting, &.cms_images_lazy_loading {
			filter: grayscale(100%);
		}
	
	}

	.cms_repeater_block & {
	
		.cms_input_image_container {
			width: 310px;
			height: 233px;
			img {
				max-width: 308px;
				max-height: 231px;
			}
		}
		
		.admin_image_content {
			width: 308px;
			height: 231px;
		}

	}

	.cms_input_image_overlay {
		
	}

}

/* image input size */
.cms_input_image_size_normal {
	
}

.cms_input_image_size_small {
	
	.cms_input_image_input {
		display: block;
	}
	
	.cms_input_button {
		float: none;
		width: 57px;
		position: absolute;
		top: 0;
	}

	.cms_input_image_clear {
		right: 0;
	}

	.cms_input_image_button {
		right: 63px;
	}

	.cms_input_image_input {
		position: absolute;
		top: 0;
		left: 130px;
		width: calc(100% - 257px);
		height: 26px;
		margin: 0;
		box-sizing: border-box;
		line-height: 24px;
		border: 1px solid #a0a0a0;
	}

	.cms_input_image_container {
		display: none;
		float: none;
		position: absolute;
		left: 130px;
		width: 165px;
		height: 124px;
		top: 32px;
	}

	.cms_input_image_content_image {
		height: 122px;
		width: 163px;
	}
	
	&.cms_input_image_hover {
		z-index: 10;
		.cms_input_image_container {
			display: block;
		}
	}

}
