.cms_input_select {
	z-index: 10;
}

.cms_input_select > select {
	box-sizing: border-box;
	display: block;
	border: 1px solid $colour_border;
	width: 330px;
	height: 26px;
	line-height: 23px;
	font-size: 17px;
	float: right;
	padding: 1px 5px 0px 5px;
}

