.cms_input_container {
	display: inline;
}

.cms_input {
	margin-bottom: 10px;
	position: relative;
}

.cms_input label {
	box-sizing: border-box;
	display: inline-block;
	width: 120px;
	line-height: 26px;
	max-height: 26px;
	transform: translateZ(0);
	letter-spacing: -0.45px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.6rem;
}

.cms_repeater_block .cms_input_select > select {
	width: 310px;
}

.cms_repeater_button {
	position: relative;
	left: -10px;
}

.admin_input_error {
	background-color: #ffeeee;
}

.admin_block_label {
	box-sizing: border-box;
	height: 2px;
	border-bottom: 2px dashed #a0a0a0;
	margin: 20px 0px;
	padding: 0px 25px;
}

.admin_block_label .admin_block_title {
	height: 23px;
	line-height: 23px;
	position: relative;
	top: -10px;
	background-color: white;
	display: inline-block;
	padding: 0px 10px;
	font-size: 18px;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

/* newer styles */

.cms_input_area {
	padding: 0 0 1rem 0;
	position: relative;
}

.cms_input_subtitle_content {
	position: relative;
	box-sizing: border-box;
}

.cms_input_label {
	position: relative;
	z-index: 20;
	box-sizing: border-box;
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 12.0rem;
    line-height: 2.6rem;
    max-height: 2.6rem;
    letter-spacing: -0.045rem;
}

/* translation */
.cms_translate_icon {
	height: 16px;
    width: 16px;
    position: absolute;
    left: 106px;
    top: 12px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    z-index: 100;
    background-size: 10px auto;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}
