.cms_input_container {
	display: inline;
}

.cms_input {
	
	display: inline-block;
	vertical-align: top;
	padding: 0.5rem 1.0rem;
	position: relative;
	box-sizing: border-box;
	width: 50%;
	
	.cms_column & {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	label {
	
		box-sizing: border-box;
		display: inline-block;
		width: 12.0rem;
		line-height: 2.5rem;
		max-height: 2.5rem;
		letter-spacing: -0.04rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1.6rem;
		vertical-align: top;
		
		.cms_input_textarea& {
			width: 100%;
		}
		
	}

}

.admin_input_error {
	background-color: #ffeeee;
}

.admin_block_label {
	box-sizing: border-box;
	height: 2px;
	border-bottom: 2px dashed #a0a0a0;
	margin: 20px 0px;
	padding: 0px 25px;
}

.admin_block_label .admin_block_title {
	height: 23px;
	line-height: 23px;
	position: relative;
	top: -10px;
	background-color: white;
	display: inline-block;
	padding: 0px 10px;
	font-size: 18px;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

/* newer styles */

.cms_input_area {
	padding: 0 0 1rem 0;
	position: relative;
}

.cms_input_label {
	position: relative;
	z-index: 20;
	box-sizing: border-box;
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 12.0rem;
    line-height: 2.6rem;
    max-height: 2.6rem;
    letter-spacing: -0.045rem;
}

/* translation */
.cms_translate_icon {
	height: 1.6rem;
    width: 1.6rem;
    position: absolute;
    left: 10.7rem;
    top: 1.4rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.8rem;
    z-index: 100;
    background-size: 1.0rem auto;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    .cms_page_panel_container & {
		left: 12.7rem;
	    .cms_repeater_block & {
	    	left: 11.6rem;
	    }
	}
   	.cms_input_textarea & {
		left: auto;
		right: 0;
		.cms_page_panel_container & {
			right: 0.7rem;
		}
	}
}
