$colour_border: #a0a0a0;

.cms_input_select {
	
	margin-left: 20px;
	z-index: 10;
	display: inline-block;
	
	.cms_repeater_block & {
    	margin-left: 0;
    	width: 100%;
    }
    
    .admin_column & {
    	margin-left: 0;
    	width: 100%;
    }
	
}

.cms_input_select > select {
	box-sizing: border-box;
	display: block;
	border: 1px solid $colour_border;
	width: 330px;
	height: 26px;
	line-height: 23px;
	font-size: 17px;
	float: right;
	padding: 1px 5px 0px 5px;
}

