.cms_update_result {
	padding-top: 20px;
}

.cms_update_table {
	display: table;
}

.cms_update_row {
	display: table-row;
}

.cms_update_label {
	display: table-cell;
}

.cms_update_version {
	display: table-cell;
}

.cms_update_hash {
	display: table-cell;
}
