.cms_page_panel_container {

}

.cms_page_panel_content {
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
}

.cms_page_panel_template {
	
	overflow: hidden;
	border-bottom: 1px solid #a0a0a0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	
	.cms_input_select {
		margin-left: 0;
	}
	
	label {
		width: 130px;
	}
	
}

.cms_page_panel_fields {
	padding: 2.0rem 0 0 0;
	font-size: 0;
	letter-spacing: 0;
	line-height: 0;
	&:first-of-type {
		padding: 0;
	}
}
