.cms_images_container {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	transition: opacity 0.3s;
	z-index: 19900;
}

.cms_images_content {
	box-sizing: border-box;
	border: 0.1rem solid $cms_border;
	padding: 1.4rem;
	width: 98.0rem;
	box-shadow: 0.2rem 0.4rem 1.0rem rgba(0,0,0,0.3);
	background-color: $colour_white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.cms_images_area {

}

.cms_images_toolbar {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-top: 0.5rem;
	margin-bottom: 1.0rem;
	text-align: left;
}

.cms_images_upload {
	position: relative;
	z-index: 10;
}

.cms_images_new_image {
	position: absolute;
	right: 15.7rem;
	width: 8.5rem;
	height: 3.4rem;
	top: 0.3rem;
	z-index: 20;
	opacity: 0;
	cursor: pointer;
}

.cms_images_container_upload {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: table;
	background-color: rgba(255,255,255,0.7);
	z-index: 100;
}

.cms_images_container_cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 100%;
}

.cms_images_container_bar {
	display: inline-block;
	height: 2.4rem;
	width: 30.0rem;
	position: relative;
	background-color: #f0f0f0;
	border: 0.1rem solid #909090;
}

.cms_images_container_label {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	color: #909090;
	line-height: 2.4rem;
	font-size: 1.6rem;
}

.cms_images_container_bg {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0%;
	z-index: 1;
	background-color: white;
}

.cms_images_paging_current {
	position: relative;
	top: 0.1rem;
}

.cms_images_paging_total {
	position: relative;
	top: 0.1rem;
}

.cms_images_paging_disabled {
	opacity: 0.3;
	border: 0.1rem solid #000000;
}

.cms_images_search_input {
	font-family: source;
	box-sizing: border-box;
  	display: inline-block;
  	height: 3.0rem;
  	width: 10.0rem;
  	line-height: 2.8rem;
  	font-size: 1.8rem;
  	border: 0.1rem solid #a0a0a0;
  	color: #404040;
  	padding: 0 0.7rem;
  	outline: none;
  	font-weight: normal;
}

/* warning */

.cms_images_warning {
	font-weight: bold;
    font-size: 1.7rem;
    color: red;
    padding: 0.8rem 0 0.4rem 0;
}

.cms_images_warning_extra {
	font-size: 1.7rem;
	padding-top: 0.7rem;
}
