.cms_pages_container {
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
}

.cms_pages_page {
	position: relative;
	padding: 2px 3px 0px 26px;
}

.cms_pages_list {
	padding-bottom: 4.5rem;
}

.cms_pages_landing {
	position: absolute;
	width: 16px;
    height: 14px;
    left: 25px;
    top: 6px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.cms_pages_page_landing {
	padding: 2px 3px 0px 46px;
}

.cms_pages_position_empty {
	font-size: 1.6rem;
	line-height: 1.6rem;
	padding-bottom: 3.0rem;
	text-transform: lowercase;
	&::first-letter {
		text-transform: uppercase;
	}
}

.cms_pages_container .cms_tool_button {
	text-transform: lowercase;
	&::first-letter {
		text-transform: uppercase;
	}
}
