.cms_input_page_panel_hidden {

}

.cms_input_page_panels_list {
	margin-bottom: 0.6rem;
	height: calc(100% - 7.0rem);
	overflow-x: hidden;
	overflow-y: auto;
}

.cms_input_page_panels_message {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 6px;
}

.cms_input_page_panels_item {
    position: relative;
}

.cms_input_page_panels_item_heading {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2px 0 0 26px;
}

.cms_input_page_panels_item_buttons {
    position: absolute;
    z-index: 20;
    right: 1px;
    height: calc(100% - 2px);
    box-sizing: border-box;
    padding: 0 2px 0 0;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    background-color: white;
    transition: background-color 0.3s;
    
    .cms_list_sortable_item:hover & {
    	background-color: #efefef;
	}
    
}
