.cms_dump_item_heading {
	display: inline-block;
	width: 300px;
	vertical-align: top;
	line-height: 24px;
}

.cms_dump_item_filemtime {
	display: inline-block;
	width: 200px;
	vertical-align: top;
	line-height: 24px;
}

.cms_dump_item_size {
	display: inline-block;
	width: 100px;
	vertical-align: top;
	line-height: 24px;
}

.cms_dump_item_generate {
	display: inline-block;
	width: 100px;
	vertical-align: top;
	line-height: 24px;
}

.cms_dump_item_download {
	display: inline-block;
	width: 100px;
	vertical-align: top;
	line-height: 24px;
}
