.cms_input_textarea {

	textarea {
		box-sizing: border-box;
		display: block;
		border: 1px solid $colour_border;
		height: 300px;
		padding: 0.3rem 0.5rem;
		width: 100%;
		font-family: asap;
		font-size: 1.7rem;
		line-height: 2.1rem;
	}
	
	& > .cms_input.cms_input_wide_textarea {
		width: 940px;
		textarea {
			width: 940px;
		}
	}

}
