.cms_pages_page {
	position: relative;
	padding: 2px 3px 0px 26px;
}

.cms_pages_landing {
	position: absolute;
	width: 16px;
    height: 14px;
    left: 25px;
    top: 6px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.cms_pages_page_landing {
	padding: 2px 3px 0px 46px;
}
