// $colour_border: #a0a0a0;
$colour_white: white;

.cms_page_panel_toolbar_container {
	padding-bottom: 1.0rem;
}

.cms_page_panel_toolbar_content {
	position: relative;
	transition: background-color 0.3s;
}

.cms_page_panel_toolbar_side_left {
		position: fixed;
		left: 0;
		width: calc(50% - 50rem);
		height: 4.0rem;
		top: 6.0rem;
		background-color: rgba(124,80,26,0);
		border-bottom: 0.1rem solid rgba(124,80,26,0);
		transition: top 0.5s, height 0.5s, background-color 0.5s, border 0.5s;
		z-index: 10;
}

.cms_page_panel_toolbar_side_right {
		position: fixed;
		right: 0;
		width: calc(50% - 50rem);
		height: 4.0rem;
		top: 6.0rem;
		background-color: rgba(124,80,26,0);
		border-bottom: 0.1rem solid rgba(124,80,26,0);
		transition: top 0.5s, height 0.5s, background-color 0.5s, border 0.5s;
		z-index: 10;
}

.cms_page_panel_toolbar_area {
	overflow: visible;
	z-index: 20;
}

.cms_page_panel_toolbar_breadcrumb {
	
}

.cms_page_panel_toolbar_gt:last-of-type {
	display: none;
}

.cms_toolbar_buttons_hidden {
	
	width: 52px;
    background-size: 18px auto;
    background-repeat: no-repeat;
    background-position: 23% 44%;
    position: relative;
    
    &:hover {
    	.cms_toolbar_buttons_hidden_container {
    		opacity: 1;
    		max-height: 1000px;
    		max-width: 200px;
    		transition: opacity 0.2s, max-height 0.2s 0s;
    	}
    }
    
}

.cms_toolbar_buttons_hidden_arrow {
	background-size: 6.5px 7.3px;
    background-repeat: no-repeat;
    background-position: 45% center;
    position: absolute;
    right: 1px;
    top: 5px;
    height: 18px;
    width: 15px;
    opacity: 0.5;
    border-left: 1px solid #808080;
}

.cms_toolbar_buttons_hidden_container {
	opacity: 0;
	max-height: 0;
	max-width: 50px;
	transition: opacity 0.2s, max-height 0s, max-width 0s;
	position: absolute;
	top: 3.0rem;
    right: -4px;
    z-index: 20;
    padding: 6px 3px 1px 5px;
	background-color: white;
	border-radius: 7px;
	overflow: hidden;
	box-sizing: border-box;
	
	.cms_tool_button {
		float: none;
		display: block;
		margin-left: 0;
		margin-bottom: 5px;
		text-align: center;
		white-space: nowrap;
		height: 26px;
    	line-height: 23px;
    	font-size: 16px;
    	padding: 1px 14px 0 14px;
    	text-transform: lowercase;
	}
	
}

/* fixed */
.cms_page_panel_toolbar_fixed {
	
	.cms_page_panel_toolbar_content {
		position: fixed;
		background-color: rgba(255,255,255,0.9);
    	top: 6.0rem;
    	z-index: 1000;
    	left: 0;
    	width: 100rem;
    	left: 50%;
    	transform: translate(-50%);
		border-bottom: 0.1rem solid $cms_border;
		text-shadow: 0 0 0.2rem $colour_white;
		&:hover {
			background-color: $colour_white;
		}
	}

	.cms_page_panel_toolbar_side_left {
		background-color: $cms_header_active;
		border-bottom: 0.1rem solid $cms_header_active;
	}

	.cms_page_panel_toolbar_side_right {
		background-color: $cms_header_active;
		border-bottom: 0.1rem solid $cms_header_active;
	}

	.cms_page_panel_toolbar_area {
		width: 96.0rem;
		margin: 0 auto;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border: 0;
	}

	.cms_toolbar_buttons {
		top: 0.5rem;
	}

}
