.cms_input {
	margin-bottom: 10px;
	position: relative;
}

.cms_input label {
	box-sizing: border-box;
	display: inline-block;
	width: 120px;
	line-height: 26px;
	max-height: 26px;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	letter-spacing: -0.45px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.admin_repeater_block .cms_input_image .admin_image_container {
	width: 310px;
	height: 233px;
}

.admin_repeater_block .cms_input_image .admin_image_content {
	width: 308px;
	height: 231px;
}

.admin_repeater_block .cms_input_image .admin_image_container img {
	max-width: 308px;
	max-height: 231px;
}

.admin_repeater_block .cms_input_select > select {
	width: 310px;
}

.admin_input_error {
	background-color: #ffeeee;
}

.admin_block_label {
	box-sizing: border-box;
	height: 2px;
	border-bottom: 2px dashed #a0a0a0;
	margin: 20px 0px;
	padding: 0px 25px;
}

.admin_block_label .admin_block_title {
	height: 23px;
	line-height: 23px;
	position: relative;
	top: -10px;
	background-color: white;
	display: inline-block;
	padding: 0px 10px;
	font-size: 18px;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}
