.cms_input_xy_container {
	
}

.cms_input_xy_content {
	position: relative;
	height: 100%;
}

.cms_input_xy_set {
	width: 12.0rem;
	top: 3.3rem;
	left: 0rem;
	position: absolute;
}

.cms_input_xy_clear {
	width: 12.0rem;
	top: 6.6rem;
	left: 0;
	position: absolute;
}

.cms_input_xy_x_label {
	position: absolute;
	top: 0;
	left: 37.0rem;
	line-height: 2.5rem;
	letter-spacing: -0.04rem;
	font-size: 1.6rem;
}

.cms_input_xy_y_label {
	position: absolute;
	top: 3.3rem;
	left: 37.0rem;
	line-height: 2.5rem;
	letter-spacing: -0.04rem;
	font-size: 1.6rem;
}

.cms_input_xy_x {
	width: 8.0rem;
	text-align: center;
	position: absolute;
	left: 39.0rem;
	top: 0;
	box-sizing: border-box;
    display: block;
    border: 0.1rem solid $cms_border;
    height: 2.5rem;
    line-height: 2.2rem;
    font-size: 1.7rem;
    padding: 0.1rem 0.5rem 0 0.5rem;
    .cms_repeater_block & {
    	width: 5.7rem;
    }
}

.cms_input_xy_y {
	top: 3.3rem;
	width: 8.0rem;
	text-align: center;
	position: absolute;
	left: 39.0rem;
	box-sizing: border-box;
    display: block;
    border: 0.1rem solid $cms_border;
    height: 2.5rem;
    line-height: 2.2rem;
    font-size: 1.7rem;
    padding: 0.1rem 0.5rem 0 0.5rem;
    .cms_repeater_block & {
    	width: 5.7rem;
    }
}

.cms_input_xy_image {
	width: 21.0rem;
	height: 13.0rem;
	border: 0.1rem solid $cms_border;
	background-position: center;
	background-size: 4.0rem auto;
	position: absolute;
	left: 14.0rem;
	top: 0;
	box-sizing: border-box;
	cursor: pointer;
	overflow: hidden;
}

.cms_input_xy_image_inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.cms_input_xy_pointer {
	position: absolute;
	left: -1.0rem;
	top: -1.0rem;
	border: 0.2rem solid $colour_black;
	box-shadow: 0.1rem 0 0.3rem $colour_white, -0.1rem 0 0.3rem $colour_white, 0 0.1rem 0.3rem $colour_white, 0 -0.1rem 0.3rem $colour_white;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 0.7rem;
	transform: translate(-50%, -50%);
}

.cms_input_xy_empty {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.6rem;
	line-height: 1.6rem;
	width: 100%;
	text-align: center;
}