.cms_input_mask_container {
	.cms_input_button {
		width: 12.0rem;
	}
}

.cms_input_mask_content {
	position: relative;
	height: 100%;
}

.cms_input_mask_set {
	top: 3.3rem;
	left: 0rem;
	position: absolute;
}

.cms_input_mask_clear {
	top: 6.6rem;
	left: 0;
	position: absolute;
}

.cms_input_mask_image {
	width: 21.0rem;
	height: 13.0rem;
	border: 0.1rem solid $cms_border;
	background-position: center;
	background-size: 4.0rem auto;
	position: absolute;
	left: 14.0rem;
	top: 0;
	box-sizing: border-box;
	cursor: pointer;
	overflow: hidden;
	line-height: 12.8rem;
    text-align: center;
}

.cms_input_mask_image_inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.cms_input_mask_mask {
	position: absolute;
	background-color: rgb(128, 63, 0);
	border: 0.05rem solid red;
	opacity: 0.5;
	box-sizing: border-box;
}