.cms_input_date {

}

.cms_input_date_input {
	box-sizing: border-box;
	display: block;
	border: 0.1rem solid $cms_border;
	width: 25.0rem;
	height: 2.6rem;
	line-height: 2.3rem;
	font-size: 1.7rem;
	padding: 0.1rem 0.5rem 0 0.5rem;
	background-position: right 0.5rem center;
	background-size: 1.6rem auto;
	background-repeat: no-repeat;
	position: absolute;
	right: 9.0rem;
	top: 0.5rem;
}

.cms_repeater_block .cms_input_date_input {
	width: 23.0rem;
}

.cms_input_date_input_hidden {
	opacity: 0;
}

.cms_input_date_clear {
	box-sizing: border-box;
	height: 2.6rem;
	width: 3.2rem;
	border: 0.1rem solid $cms_border;
	border-radius: 0.4rem;
	position: absolute;
	right: 5.0rem;
	top: 0.5rem;
	background-size: 1.0rem auto;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.cms_input_date_today {
	box-sizing: border-box;
	height: 2.6rem;
	width: 3.2rem;
	border: 0.1rem solid $cms_border;
	border-radius: 0.4rem;
	position: absolute;
	right: 1.0rem;
	top: 0.5rem;
	background-size: 1.6rem auto;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
