.cms_list_container {
	padding: 1.0rem 1.0rem 1.5rem 1.0rem;
}

.cms_list_item_heading {
	font-size: 1.8rem;
}

div.cms_list_set {
	height: 2.2rem;
	width: 5.0rem;
	text-align: center;
	border: 0.1rem solid $cms_border;
	text-decoration: none;
	box-sizing: border-box;
	line-height: 1.9rem;
	border-radius: 0.3rem;
	font-size: 1.6rem;
	padding: 0.1rem 0 0 0;
	float: right;
	margin-right: 1.0rem;
	cursor: pointer;
	color: #606060;
}

.cms_list_filter {
	max-width: 12.0rem;
}

.cms_list_infinity {
	width: 3.0rem;
	.cms_tool_button_inner {
		background-size: 1.7rem auto;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.7;
	}
}