.cms_input_datetime {

}

.cms_input_datetime_date {
	box-sizing: border-box;
	display: block;
	border:0.1rem solid $cms_border;
	width: 12.0rem;
	height: 2.6rem;
	line-height: 2.3rem;
	font-size: 1.7rem;
	padding:0.1rem 0.5rem 0 0.5rem;
	background-position: right 0.5rem center;
	background-size: 1.6rem auto;
	background-repeat: no-repeat;
	position: absolute;
	left: 15.0rem;
	top: 0.5rem;
}

.cms_input_datetime_time {
	box-sizing: border-box;
	width: 13.0rem;
	height: 2.6rem;
	line-height: 0;
	font-size: 0;
	position: absolute;
	left: 27.8rem;
	top: 0.5rem;
}

.cms_input_datetime_hour,.cms_input_datetime_minute {
	border:0.1rem solid $cms_border;
	width: 6.0rem;
	height: 100%;
	height: 2.5rem;
    line-height: 2.2rem;
    font-size: 1.7rem;
    padding: 0.1rem 0.5rem 0 0.5rem;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 0.2rem;
}

.cms_repeater_block .cms_input_datetime_input {
	width: 23.0rem;
}

.cms_input_datetime_hidden {
	
	.cms_input_datetime_date,.cms_input_datetime_hour,.cms_input_datetime_minute {
		opacity: 0;
	}

}

.cms_input_datetime_clear {
	box-sizing: border-box;
	height: 2.6rem;
	width: 3.2rem;
	border:0.1rem solid $cms_border;
	border-radius: 0.4rem;
	position: absolute;
	right: 5.0rem;
	top: 0.5rem;
	background-size: 1.0rem auto;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.cms_input_datetime_today {
	box-sizing: border-box;
	height: 2.6rem;
	width: 3.2rem;
	border:0.1rem solid $cms_border;
	border-radius: 0.4rem;
	position: absolute;
	right: 1.0rem;
	top: 0.5rem;
	background-size: 1.6rem auto;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
