.cms_input_container {

	.cms_input_textarea>textarea {
		box-sizing: border-box;
		display: block;
		border: 1px solid $colour_border;
		height: 300px;
		line-height: 18px;
		font-size: 14px;
		padding: 1px 5px 0px 5px;
		width: 100%;
	}
	
	& > .cms_input.cms_input_wide_textarea {
		width: 940px;
		textarea {
			width: 940px;
		}
	}

}
