.cms_page_panel_import_container {
	height: 100%;
}

.cms_page_panel_import_content {
	height: 100%;
	position: relative;
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
	padding: 0 4.6rem;
}

.cms_page_panel_import_table {
	
}

.cms_page_panel_import_first {
	opacity: 1;
	z-index: 20;
	transition: opacity 0.3s;
}

.cms_page_panel_import_message {
	font-size: 2.0rem;
	line-height: 3.0rem;
	margin-bottom: 1.8rem;
    margin-top: 20.5rem;
}

.cms_page_panel_import_col1,.cms_page_panel_import_col2,.cms_page_panel_import_col3 {
	display: inline-block;
	font-size: 10.5rem;
	line-height: 2.2rem;
}

.cms_page_panel_import_col1 {
	width: 31%;
	text-align: left;
}

.cms_page_panel_import_col2 {
	width: 20%;
	text-align: right;
}

.cms_page_panel_import_col3 {
	width: 24%;
	text-align: right;
}

.cms_page_panel_import_buttons {
	padding-top: 2.3rem;
}

.cms_page_panel_import_upload {
	width: 11.0rem;
	margin: 0 0.2rem;
}

.cms_page_panel_import_close {
	width: 11.0rem;
	margin: 0 0.2rem;
}

.cms_page_panel_import_hidden {
	opacity: 0;
	z-index: 10;
}
