.cms_list_list_item_hidden {

}

.cms_list_list_item_heading {
	overflow: hidden;
	height: 100%;
	display: inline-block;
}

.cms_list_list_message {
	font-size: 16px;
	line-height: 16px;
	text-align: left;
}
