.cms_input_fk {
	
	float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
    
    label {
    	width: 130px;
    }
    
    .cms_repeater_block & {
    	margin-left: 0;
    }
    
}
