.cms_input_subtitle_container {
	
	&.cms_input {
		padding-top: 3.9rem;
	}

	clear: both;
	
	&.cms_input_subtitle_wide {
		width: 100%;
	}
	
	.cms_help {
		left: auto;
		right: 0;
		top: -0.5rem;
	}

}

.cms_input_subtitle_content {
	position: relative;
	box-sizing: border-box;
	border-bottom: 0.1rem solid $colour_border;
	.cms_page_panel_fields & {
//		top: 3.5rem;
	}
}

.cms_input_subtitle_label {
	position: relative;
	z-index: 20;
	box-sizing: border-box;
    line-height: 24px;
    font-size: 18px;
    transform: translateZ(0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* widths */

.cms_input_subtitle_narrow {
	
	.admin_block_container > & {
		width: 460px;
	}

}

.cms_repeater_block {
	
	.cms_input_subtitle_container {
		width: calc(100% - 2.0rem);
		padding-top: 3.0rem;
	}

	.cms_input_subtitle_content {
		
    	.cms_help {
    		left: auto;
    		right: -2px;
    	}
    
    	.cms_help_text {
    		left: auto;
    		right: 2px;
    	}
    	
    }
	
}
