.cms_user_container {
	box-sizing: border-box;
    position: absolute;
    right: 2.0rem;
    top: 0.3rem;
    height: 5.0rem;
    color: white;
    text-align: center;
    font-weight: normal;
    font-family: source;
	font-size: 1.4rem;
    letter-spacing: 0.05rem;
}

.cms_user_content {
	
}

.cms_user_user {
	overflow: hidden;
	max-width: 100%;
}

.cms_user_username {
    line-height: 2.5rem;
    display: inline-block;
    padding-left: 0;
    background-position: left 46%;
    background-size: 1.3rem auto;
    background-repeat: no-repeat;
    padding-left: 1.8rem;
}

.cms_user_button {
    line-height: 2.2rem;
    border: 0.12rem solid white;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 7.5rem;
    background-color: transparent;
    transition: background-color 0.3s;
    &:hover {
    	background-color: rgba(255,255,255,0.1);
    }
}
