.cms_search_top {
	padding: 0.3rem 0 2.2rem 0;
    position: relative;
    line-height: 3.2rem;
    text-align: left;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid $cms_border;
    width: calc(100% - 2.0rem);
    margin: 0 auto;
}

.cms_search_top_label {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 0.2rem;
	padding-right: 1.0rem;
}

.cms_search_term {
	
	display: inline-block;
	vertical-align: top;
	height: 3.2rem;
	line-height: 2.8rem;
	font-family: inherit;
	margin: 0;
	padding: 0.2rem 1.0rem 0 1.0rem;
	box-sizing: border-box;
	border: 0.1rem solid $cms_border;
	font-size: inherit;
	width: 36.9rem;

	&:focus {
		outline: none;
	}

}

.cms_search_result {
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
	padding-bottom: 1.5rem;
}

.cms_search_result_pages {

}

.cms_search_result_panels {

}

.cms_search_item {
	border: 0.1rem solid $cms_border;
	line-height: 2.4rem;
	padding: 0.2rem 0.4rem 0 0.4rem;
	font-size: 1.6rem;
	margin-top: 0.2rem;
	position: relative;
}

.cms_search_noshow {
	opacity: 0.3;
}

.cms_search_title {
	
	height: 2.4rem;
	overflow: hidden;
	max-width: 33.9rem;
	
	.cms_search_result_panels & {
		max-width: 39.4rem;
	}
	
}

.cms_search_view {
	position: absolute;
	right: 6.0rem;
	top: 0.3rem;
	box-sizing: border-box;
	height: 2.0rem;
	width: 5.2rem;
	text-align: center;
	border: 0.1rem solid $cms_border;
	line-height: 1.8rem;
	font-size: 1.4rem;
	border-radius: 0.3rem;
}
	
.cms_search_edit {
	position: absolute;
	right: 0.4rem;
	top: 0.3rem;
	box-sizing: border-box;
	height: 2.0rem;
	width: 5.2rem;
	text-align: center;
	border: 0.1rem solid $cms_border;
	line-height: 1.8rem;
	font-size: 1.4rem;
	border-radius: 0.3rem;
}