.cms_page_panel_template {
	
	overflow: hidden;
	border-bottom: 1px solid #a0a0a0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	
	.cms_input_select {
		margin-left: 0;
	}
	
	label {
		width: 130px;
	}
	
}