.cms_cssjs_settings_header {
	border-bottom: 0.1rem solid #a0a0a0;
	line-height: 2.4rem;
    font-size: 1.8rem;
    padding-top: 1.0rem;
    position: relative;
}

.cms_cssjs_settings_csss {
	min-height: 10.0rem;
	position: relative;
	padding-top: 0.8rem;
}

.cms_cssjs_settings_css_operations {
	padding: 0.6rem 0;
	border-top: 0.1rem solid #a0a0a0;
	position: relative;
	overflow: hidden;
}

.cms_cssjs_settings_csss_item_delete {
	min-width: 6.7rem;
}

.cms_cssjs_settings_css_add {
	box-sizing: border-box;
    display: block;
    border: 0.1rem solid #a0a0a0;
    border-radius: 0.3rem;
    float: right;
    padding: 0.1rem 1.0rem 0 1.0rem;
    cursor: pointer;
    text-align: center;
    margin-left: 0.5rem;
    height: 2.4rem;
    line-height: 2.2rem;
    font-size: 1.4rem;
    width: 4.7rem;
}

.cms_cssjs_settings_css_select {
	
	float: right;
	border: 0.1rem solid #a0a0a0;
	display: block;
	box-sizing: border-box;
    padding: 0.2rem 0.5rem 0 0.5rem;
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.4rem;
    font-family: source;
    font-weight: 200;
    
    option {
	    font-weight: 200;
	    line-height: 2.4rem;
    }
    
}
