.cms_popup_container {
	display: table;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	transition: opacity 0.3s;
	table-layout: fixed;
	z-index: 19998;
}

.cms_popup_cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.cms_popup_body {
	box-sizing: border-box;
	border: 0.1rem solid #a0a0a0;
	padding: 1.9rem;
	width: 30.0rem;
	height: 20.0rem;
	box-shadow: 0.2rem 0.4rem 1.0rem rgba(0,0,0,0.5);
	background-color: white;
	margin: 0 auto;
}

.cms_popup_text {
	font-size: 2.0rem;
	height: 13.0rem;
	width: 26.0rem;
	line-height: 2.6rem;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.cms_popup_yes {
	box-sizing: border-box;
	height: 3.0rem;
	width: 12.0rem;
	float: left;
	border: 0.1rem solid #a0a0a0;
	border-radius: 0.4rem;
	font-size: 1.8rem;
	line-height: 2.8rem;
	text-align: center;
	cursor: pointer;
}

.cms_popup_no {
	box-sizing: border-box;
	height: 3.0rem;
	width: 12.0rem;
	float: right;
	border: 0.1rem solid #a0a0a0;
	border-radius: 0.4rem;
	font-size: 1.8rem;
	line-height: 2.8rem;
	text-align: center;
	cursor: pointer;
}
