.cms_input_multi {
	
	label {
		height: 2.1rem;
	}
	
}

.cms_input_multi_values {
	padding: 0.2rem 0;
	border-bottom: 0.1rem solid $cms_border;
	border-top: 0.1rem solid $cms_border;
	position: relative;
	height: 7.2rem;
	line-height: 2.0rem;
	overflow-y: auto;
}

.cms_input_multi_item {
	display: inline-block;
	box-sizing: border-box;
    border: 0.1rem solid $cms_border;
    border-radius: 0.3rem;
    padding: 0 2.5rem 0 1.9rem;
    cursor: pointer;
    text-align: center;
    margin: 0.2rem 0.5rem 0.2rem 0;
    height: 2.0rem;
    line-height: 1.7rem;
    font-size: 1.5rem;
    position: relative;
    background-position: 0.4rem center;
    background-size: 1.0rem auto;
    background-repeat: no-repeat;
    vertical-align: top;
    background-color: white;

	&::after {
		content: 'x';
		display: block;
		position: absolute;
	    height: 1.4rem;
	    width: 1.7rem;
	    border-left: 0.1rem solid #c0c0c0;
	    text-align: center;
	    font-size: 1.4rem;
	    line-height: 1.4rem;
	    right: 0;
	    top: 0.2rem;
	}
	
}

.cms_input_multi_bottom {
	padding: 0.4rem 0;
}

.cms_input_multi_add {
	box-sizing: border-box;
    display: block;
    border: 0.1rem solid $cms_border;
    border-radius: 0.4rem;
    float: right;
    padding: 0.3rem 1.4rem 0 1.4rem;
    cursor: pointer;
    text-align: center;
    margin-left: 0.5rem;
    height: auto;
    line-height: 1.9rem;
    font-size: 1.5rem;
    width: auto;
}

.cms_input_multi_select {
	float: right;
	border: 0.1rem solid $cms_border;
	display: block;
	box-sizing: border-box;
    padding: 0.2rem 0.5rem 0 0.5rem;
    height: 2.3rem;
    line-height: 2.0rem;
    font-size: 1.6rem;
    max-width: 38.7rem;
}
