.cms_page_panel_caching_container {
	position: fixed;
	z-index: 19995;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
}

.cms_page_panel_caching_overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	background-color: #303030;
	z-index: 19994;
}

.cms_page_panel_caching_table {
	position: absolute;
	height: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;
}

.cms_page_panel_caching_cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.cms_page_panel_caching_content {
	box-sizing: border-box;
	border: 0.1rem solid #a0a0a0;
	padding: 1.4rem;
	width: 43.0rem;
	height: 33.0rem;
	box-shadow: 0.2rem 0.4rem 1.0rem #a0a0a0;
	background-color: white;
	display: inline-block;
	text-align: left;
}

.cms_page_panel_caching_area {
	height: 23.9rem;
	width: 40.0rem;
	box-sizing: border-box;
	overflow: hidden;
}

.cms_page_panel_caching_container .cms_toolbar {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-top: 0.5rem;
	margin-bottom: 1.0rem;
}

.cms_page_panel_caching_input {
	padding: 0.5rem;
	box-sizing: border-box;
	width: 100%;
}

.cms_page_panel_caching_label {
	
}

select.cms_page_panel_caching_select {
	width: 240.5rem;
}

label.cms_page_panel_caching_related_label {
	display: block;
	float: none;
}

.cms_page_panel_caching_values {
	border-top: 0.1rem solid #a0a0a0;
	border-bottom: 0.1rem solid #a0a0a0;
	min-height: 3.0rem;
	clear: both;
}

.cms_page_panel_caching_add {
	box-sizing: border-box;
    display: block;
    border: 0.1rem solid #a0a0a0;
    border-radius: 0.4rem;
	width: 50.5rem;
    height: 2.2rem;
    line-height: 1.9rem;
	font-size: 1.7rem;
    float: right;
    padding: 0.1rem 0.5rem 0 0.5rem;
    clear: left;
    cursor: pointer;
    text-align: center;
    margin-top: 0.7rem;
}

.cms_page_panel_caching_lists_select {
	box-sizing: border-box;
    display: block;
    border: 0.1rem solid #a0a0a0;
    width: 18.4rem;
    height: 2.2rem;
    line-height: 1.9rem;
    font-size: 10.5rem;
    float: right;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0.7rem 0.7rem 0 0;
}

.cms_page_panel_caching_item {
	display: inline-block;
    border: 0.1rem solid #a0a0a0;
    border-radius: 0.4rem;
    height: 2.4rem;
    line-height: 1.9rem;
	font-size: 1.7rem;
    padding: 0.2rem 3.0rem 0 1.0rem;
    cursor: pointer;
    margin: 0.3rem;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
}

.cms_page_panel_caching_item_close {
	position: absolute;
    height: 10.5rem;
    width: 1.7rem;
    border-left: 0.1rem solid #c0c0c0;
    text-align: center;
    font-size: 10.5rem;
    line-height: 10.5rem;
    right: 0;
    top: 0.4rem;
}
