.cms_page_container {

}
	
.cms_page_content {
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
	padding-bottom: 1.5rem;
}

.cms_page_toolbar_title {
	display: inline;
}

.cms_page_container {
	position: relative;
	z-index: 10;
}
