.cms_input_link_container {
	overflow: hidden;
}

.cms_input_link_content {
	width: 33.0rem;
	float: right;
	position: relative;
    overflow: hidden;
}

.cms_repeater_area .cms_input_link_content {
	width: 31.0rem;
}

.cms_input_link_dropdown {
	box-sizing: border-box;
    display: block;
    border: 0.1rem solid #a0a0a0;
    width: 16.3rem;
    height: 2.5rem;
    line-height: 2.2rem;
    font-size: 1.5rem;
    padding: 0.1rem 0.5rem 0 0.1rem;
    z-index: 10;
    position: relative;
}

.cms_repeater_area .cms_input_link_dropdown {
	width: 15.3rem;
}

.cms_input_link_target {
    float: left;
}

.cms_input_link_select {
    float: right;
}

.cms_input_link_select_placeholder {
	box-sizing: border-box;
    display: block;
    border: 0.1rem solid #a0a0a0;
    width: 16.3rem;
    height: 2.5rem;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.cms_repeater_area .cms_input_link_select_placeholder {
	width: 15.3rem;
}

.cms_input_link_select_spacer {
	height: 0.4rem;
	clear: both;	
}

.cms_input_link_text_display,.cms_input_link_url_display {
	box-sizing: border-box;
    display: block;
    border: 0.1rem solid #a0a0a0;
    width: 16.3rem;
    height: 2.4rem;
    line-height: 2.1rem;
    font-size: 1.5rem;
    float: right;
    padding: 0.1rem 0.5rem 0 0.5rem;
}

.cms_repeater_area .cms_input_link_text_display,.cms_repeater_area .cms_input_link_url_display {
	width: 15.3rem;
}

.cms_input_link_url_display {
	float: left;
}

.cms_input_link_text_display::-webkit-input-placeholder,.cms_input_link_url_display::-webkit-input-placeholder {
	opacity: 0.3;
	color: black;
}

.cms_input_link_text_display::-ms-input-placeholder,.cms_input_link_url_display::-ms-input-placeholder {
	opacity: 0.3;
	color: black;
}

.cms_input_link_text_display::input-placeholder,.cms_input_link_url_display::input-placeholder {
	opacity: 0.3;
	color: black;
}

.cms_input_link_short {
	
	&.cms_input_link_container {
		height: 3.0rem;
	}

	.cms_input_link_select_spacer {
		display: none;
	}

	.cms_input_link_url_display {
		display: none;
	}

	.cms_input_link_text_display {
		display: none;
	}

}
