.cms_user_container {
	box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 4px;
    height: 64px;
    font-family: foundrysterling;
    color: white;
    font-weight: 600;
    text-align: center;
}

.cms_user_content {
	
}

.cms_user_user {
	overflow: hidden;
	max-width: 100%;
}

.cms_user_username {
    line-height: 31px;
	font-size: 14px;
    letter-spacing: 0.7px;
    display: inline-block;
    padding-left: 18px;
    background-position: left 46%;
    background-size: 14px auto;
    background-repeat: no-repeat;
}

.cms_user_button {
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 0.6px;
    border: 1.5px solid white;
    border-radius: 4px;
    cursor: pointer;
    width: 75px;
    display: inline-block;
}
