.user_header_container {
	font-size: 1.2rem;
	line-height: 2.0rem;
	background-color: $colour_black;
	color: $colour_white;
}

.user_header_content {
	box-sizing: border-box;
	padding: 0.2rem;
	text-align: center;
}

.user_header_loggedin {
	border: 0.1rem solid $colour_white;
}

.user_header_loggedin_link {
	
}

.user_header_loggedin_image {
	
}

.user_header_loggedin_label {
	
}

.user_header_loggedout {
	border: 0.02rem solid $colour_white;
	position: relative;
	display: inline-block;
}

.user_user_header_loggedout_link {
	display: block;
	
}

.user_header_loggedout_image {
	position: absolute;
	left: 0.2rem;
	top: 0.2rem;
	height: 1.6rem;
	width: 1.6rem;
	background-size: 60% auto;
	background-position: center;
	background-repeat: no-repeat;
}

.user_header_loggedout_label {
	padding: 0 0.5rem 0 2.0rem;
}
