.loginlink_container {
	
}

.loginlink_content {
	
}

.loginlink_button_create {
	position: absolute;
	width: 9.0rem;
	right: 25.0rem;
	top: 0.5rem;
	height: 2.5rem;
}

.loginlink_input.cms_input_text_input {
	width: 23.0rem;
	position: absolute;
	right: 1.0rem;
	top: 0.5rem;
}
